LMS/nbproject/
LMS/build/
LMS/nbbuild/
LMS/dist/
LMS/lib/
LMS/nbdist/
LMS/build.xml
LMS/LMS.iml
LMS/manifest.mf
LMS/.env
LMS/!.env.sample
lms_desktop_er_diagram2.mwb
lms_desktop_data.sql
README.md
details.md
